<p-toast></p-toast>

<div class="card">
  <div class="flex justify-content-between align-items-center mb-4">
    <h2 class="m-0 text-900">Dashboard Issue</h2>
    <p-button label="Nuova Issue" icon="pi pi-plus" [routerLink]="['/issues/new']"></p-button>
  </div>

  <p-table [value]="issues()" [tableStyle]="{ 'min-width': '50rem' }" styleClass="p-datatable-sm shadow-2">
    <ng-template pTemplate="header">
      <tr>
        <th style="width:5%">ID</th>
        <th style="width:20%">Titolo</th>
        <th style="width:10%">Tipo</th>
        <th style="width:10%">Priorità</th>
        <th style="width:15%">Stato</th>
        <th style="width:15%">Assegnatario</th>
        <th style="width:15%">Reporter</th>
        <th style="width:10%">Data</th>
      </tr>
    </ng-template>
    
    <ng-template pTemplate="body" let-issue>
      <tr>
        <td>#{{ issue.id }}</td>
        <td class="font-bold">{{ issue.title }}</td>
        <td>{{ issue.type }}</td>
        
        <td>
            @if(issue.priority) {
                <p-tag [value]="issue.priority" [severity]="getPrioritySeverity(issue.priority)"></p-tag>
            } @else { - }
        </td>

        <td>
            <p-dropdown 
                [options]="stateOptions" 
                [(ngModel)]="issue.state" 
                (onChange)="onStateChange(issue, $event.value)"
                [disabled]="!canEdit(issue)" 
                appendTo="body"
                [style]="{'width':'100%'}"
                placeholder="Seleziona">
                
                <ng-template pTemplate="selectedItem" let-selectedOption>
                    <p-tag [value]="selectedOption.label" [severity]="getSeverity(selectedOption.label)"></p-tag>
                </ng-template>
                
                <ng-template let-option pTemplate="item">
                    <p-tag [value]="option.label" [severity]="getSeverity(option.label)"></p-tag>
                </ng-template>

            </p-dropdown>
            
            @if(!canEdit(issue)) {
                <i class="pi pi-lock text-xs text-400 ml-1" pTooltip="Solo l'assegnatario può modificare"></i>
            }
        </td>

        <td>
            <i class="pi pi-user mr-2 text-500"></i>
            {{ issue.assigneeName || 'Non assegnato' }}
        </td>
        <td>{{ issue.reporterName }}</td>
        <td>{{ issue.createdAt | date:'shortDate' }}</td>
      </tr>
    </ng-template>
    
    <ng-template pTemplate="emptymessage">
        <tr><td colspan="8" class="text-center p-4">Nessuna issue trovata.</td></tr>
    </ng-template>
  </p-table>
</div>